.container {
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.background {
  z-index: 0;
}
.frases {
    position: relative;
    left: 100px;
    max-width: 1000px;
}
.frase_0{
    position: relative;
    z-index: 1;
    top: 300px;
    font-size: 60px;
    color: white;
}
.frase_1{
    position: relative;
    top: 300px;
    font-size: 18px;
    color: white;
}